*{
    margin-left: 0px;
    margin-top: 0px;
}
.sidebar{
    height: 580px;
    width: 10%;
    left: 0px;
    position: fixed;
    background-color: rgb(27, 143, 98);
}
.sidebar ul li{
    list-style: none;
    margin-bottom: 30px;
}
.sidebar ul{
    margin-left: -17px;
}
#logo{
    width: 10%;
    float: left;
    height: 79px;
    position: fixed;
    left: 0;
    top: 0;
}
#footer{
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    z-index: 1;
    padding-left: 11%;
}

.main{
    margin-left: 11%;
    margin-top: 100px;
}
.navbar{
    background-color: rgb(14, 150, 44);
    opacity: -500px;
    height: 100px;
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 35px 2px  ;
    
}
.navbar h1, #navbar h5{
    margin-left: 12%;
}

.navbuttons{
    float: right;
    margin-right: 5%;
    margin-top: -25px;
    margin-left: 11%;

}
.navbuttons b, .navbuttons a{
    margin-left: 15px;
    margin-top:px;
    text-decoration: none;
    color:white;
    font-size: 22px;
}
